* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #efefef;
}

header {
    padding: 2rem 4rem;
    border-bottom: 2px solid #29213f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul {
    list-style: none;
}

header a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
}

header a:hover {
    text-decoration: underline;
    color: hotpink;
}

header img {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: grayscale(1);
    margin: 1rem auto;
}

header h1 {
    text-align: center;
    color: tomato;
    text-decoration: underline;
}

main {
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 3rem;
    min-width: 700px;
}

section p {
    max-width: 80ch;
}

section li h3, section li p {
    font-size: .8rem;
    letter-spacing: 0.5px;
}

section li {
    margin: .5rem;
}